.my-resource h1 {
  font-size: 16px;
  font-family: courier;
}

div[ng-view].ng-enter {
  -webkit-animation: fadeInRight 0.3s;
  -moz-animation: fadeInRight 0.3s;
  -o-animation: fadeInRight 0.3s;
  animation: fadeInRight 0.3s;
}
div[ng-view].ng-leave {
  position: absolute;
  -webkit-animation: fadeOutLeft 0.3s;
  -moz-animation: fadeOutLeft 0.3s;
  -o-animation: fadeOutLeft 0.3s;
  animation: fadeOutLeft 0.3s;
}
/*
div[ng-view].nested.ng-enter {
    -webkit-animation: fadeOutLeft 0.3s;
    -moz-animation: fadeOutLeft 0.3s;
	-o-animation: fadeOutLeft 0.3s;
    animation: fadeOutLeft 0.3s;
}
div[ng-view].nested.ng-leave {
    position: absolute;
    
    -webkit-animation: fadeInRight 0.3s;
    -moz-animation: fadeInRight 0.3s;
	-o-animation: fadeInRight 0.3s;
    animation: fadeInRight 0.3s;
}
*/
